{% extends 'main/layout.html' %}

{% block title %}Про мене {% endblock %}

{% block content %}
<div class="features">
    <h1>Сторінка про ореста</h1>
    <p>Меня зовут Кира Йошикаге. Мне 33 года. Мой дом находится в северо-восточной части Морио, где расположены все виллы. Я не женат. Я работаю в универмаге Kame Yu и прихожу домой не позднее 8 вечера. Я не курю, но иногда выпиваю. Я ложусь спать в 11 вечера, и убеждаюсь, что я получаю ровно восемь часов сна, несмотря ни на что. Выпив стакан теплого молока и потянувшись минут двадцать перед сном, я обычно без проблем сплю до утра. Словно ребёнок я просыпаюсь утром без всякой усталости и стресса</p>
    <button class="btn btn-danger">Нажми якщо орест пту...</button>
</div>
{% endblock %}